html, body {
  background: rgb(255, 255, 255);
}
.alt {
  width: 60%;
  margin-left: 20%;
  padding: 0px;
  background: rgb(255, 255, 255);
}
.alt:hover {
  cursor: pointer;
}
h1 {
  font-size: 100pt;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
}
input {
  border-radius: 20px;
  height: 30px;
  font-family: 'Arial';
  font-size: 15pt;
  border: none;
  box-shadow: 2.5px 2.5px 5px 2.5px rgba(0, 0, 0, 0.75);
  padding: 10px;
  box-sizing: border-box;
}
